.external {
	color: yellow;
}

* {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 72px;
}

h2 {
	text-transform: uppercase;
}

/*class selector just grab the class of the HTML element.*/
.sublanguages {
	background-color: #aed0a1;
}

/*attribute selector, used to select elements with a specified attribute. */
li[class="subtools"] {
		border: 1px solid #7faab8;
}

/*adjacent sibling selector = The + selector is used to select an element that is directly after another specific element.*/
img + ul {
	list-style: none;
}

/*descendant selector = The descendant selector matches all elements that are descendants of a specified element. E.g. the 4 li in 1 ul can be used as a scenario for descendant selector.*/
section img {
	height: 100px;
	width: 100px;
	border-radius: 150px;
}

/*The general sibling selector (~) selects all elements that are next siblings of a specified element.*/
ul ~ p {
	text-align: center;
}

/*The child selector selects all elements that are the children of a specified element.*/
ul > li {
	letter-spacing: 5px;
}